<%= javascript_include_tag 'amcharts' %>
<%= javascript_include_tag 'cust_amcharts'%>
<%= javascript_include_tag 'form'%>
<%= javascript_include_tag 'bootstrap'%>
<script type="text/javascript">
//**************************************************
//計算結果
//**************************************************
var chartData   = <%= @json_val %>;															//if categoryAxis is string format	add .html_safe											
var names       = <%= @json_arr.to_json.html_safe %>;
var max         = <%= @max.to_json.html_safe %>;	
var headers     = <%= @headers.to_json.html_safe%>;
var timeshow    = <%= @timeshow.to_json.html_safe%>;
var suffix      = <%= @suffix %>;

//**************************************************
//画面フォーム初期値
//**************************************************
var type1       = <%= @type1_value.to_json.html_safe%>;
var type2       = <%= @type2_value.to_json.html_safe%>;
var start_dt    = <%= @start_dt_html.to_json.html_safe%>;
var start_hm    = <%= @start_hm.to_json.html_safe%>;
var finish_dt   = <%= @finish_dt_html.to_json.html_safe %>;
var finish_hm   = <%= @finish_hm.to_json.html_safe %>;
var chart;
var graph;
</script>


<!-- フォーム　-->
<div class="row" >
	<form id="form">
		
	<!-- new -->
	<div class="btn-group">
	  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	    項目名
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu" id="ul" style="text-align: center;">
	    <!-- find dropdown menu in form.js -->
	  </ul>
	</div>
	<!-- new -->
	
	<div class="span4">
	　　項目名 <select style="border: 1px solid blue"   id="typecolumn1" name="typecolumn1"></select></br>
	　　項目名 <select id="typecolumn2" name="typecolumn2"></select>
	</div>
	<div class="span4">
   		開始日付 <input id="start_dt" type="date" name="start_dt" style="width: 150px;" onchange="startTimeChange()"> <input id="start_hm" type="text" name="start_hm" style="width: 50px;"></br>
   	         終了日付 <input id="finish_dt" type="date" name="finish_dt" style="width: 150px;"> <input id="finish_hm" type="text" name="finish_hm" style="width: 50px">	           
	</div> 		
	<div class="span1">
	  <div class="btn-group" style="width: 100px;">
	  <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
	    <i class="icon-pencil icon-white"></i> 計算
	    <span class="caret"></span>
	  </a>
	  <ul class="dropdown-menu">
	    <li>&nbsp;&nbsp;&nbsp;<i class="icon-list"></i> 計算方法選択</li>
	    <li class="divider"></li>
	    <li><a href="javascript:submit()"><i class="icon-play"></i> 合計</a></li>
	    <li><a href="#"><i class="icon-play"></i> 平均</a></li>
	    <li><a href="#"><i class="icon-play"></i> 最大最小値</a></li>
	  </ul>
	  </div>
	</div>
	</form>
</div>

<div class="row" style="width: 1100px;">
	<!-- amchartsタイプ設定　-->
	<div class="span2" style="padding-top: 50px;">
		<input type="radio" checked="true" name="graph3d" id="graph3d_true" onclick="setGraph3D()">3D
		<input type="radio" name="graph3d" id="graph3d_false" onclick="setGraph3D()">2D　<br/><br/>
		<input type="radio" checked="true" name="graphtype" id="graphtype_column" onclick="setGraphtype()">column
		<input type="radio" name="graphtype" id="graphtype_line" onclick="setGraphtype()">line　<br/><br/>
		<input type="radio" checked="true" name="showLable" id="label_hide" onclick="setLabel()">ラベルを隠し<br/>
		<input style="vertical-align: bottom;" type="radio" name="showLable" id="label_show" onclick="setLabel()">ラベルを表示
	</div>
	<!-- amcharts -->
	<div class="span10" id="chartdiv" class="chartdiv" style=" height:350px; width: 900px;"></div>
</div>

<!-- error div -->
<div id="error_msg" class="alert alert-error" style="position:absolute; top: 0px; left: 720px;  height: 100px; width: 250px;">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>Warning!</h4>
  　指定された日付にはデータがない
  please choose again
</div>


